<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SPH HTML App</title>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <script src="~/Scripts/phaser.js"></script>
    <script src="~/Scripts/game.js"></script>
</head>
<body>
    <h1>SPH HTML App</h1>

    <div id="content"></div>
</body>
</html>