<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SPH HTML App</title>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
    <script src="~/Scripts/phaser.js"></script>
    <script src="~/Scripts/sph.const.js"></script>
    <script src="~/Scripts/sph.boot.js"></script>
    <script src="~/Scripts/sph.preload.js"></script>
    <script src="~/Scripts/sph.menu.js"></script>
    <script src="~/Scripts/sph.space.js"></script>
    <script src="~/Scripts/sph.game.js"></script>
    <script src="~/Scripts/sph.player.ship.js"></script>
</head>
<body>
    <h1>SPH HTML App</h1>
            @*
            http://www.photonstorm.com/phaser/how-to-use-phaser-with-typescript
            http://jessefreeman.com/game-dev/building-a-html5-game-with-phaser/
            *@
    <div id="content"></div>
</body>
</html>